body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    background-color: #f7f5f2;
    color: #111;
}

/* HEADER */
header {
    text-align: center;
    padding: 35px 20px;
    border-bottom: 2px solid #222;
    background-color: #ffffff;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* NAV */
nav {
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: #111;
    margin: 0 12px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* MAIN */
main {
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* SECTIONS */
.hero {
    display: flex;
    gap: 30px;
    align-items: center;
}

/* TEXT SIDE */
.hero div {
    flex: 1;
}

/* IMAGE */
.hero img {
    max-width: 250px;
    width: 100%;
    border-radius: 6px;
}

/* SECTION TITLES */
h2 {
    color: #5a4634; /* brown academic tone */
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-top: 0;
}

/* TEXT */
p {
    font-size: 17px;
    line-height: 1.8;
    text-align: justify;
}

/* FOOTER */
footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    border-top: 1px solid #222;
    font-size: 14px;
    color: #555;
}

/* UL */
ul {
    padding-left: 40px;
    text-align: justify;
}
